# AIChecker settings
theme.dark=true
ui.scale=1.2
window.width=1920
window.height=1009
classroom.useApiImport=true
classroom.courseId=cMTk2OTk4Mzk0MjI1
classroom.courseWorkId=NzkzODU3NTA2OTgx
classroom.studentGroup=
ollama.baseUrl=http://localhost:11434
ollama.model=llama3.2:3b
plagiarism.serviceUrl=
github.tokenPath=settings/github/token.txt
classroom.tokenPath=settings/google/access_token.txt
export.directory=exports
